@model  AppQuerido.Models.Produto

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
<br>
<h3>@Model.Codigo</h3>
<br>
<h3>@Model.Nome</h3>
<br>
<h3>@Model.Preco</h3>
<br>
<h3>@Model.DataVal</h3>
<br>
<h3>@Model.Login</h3>
<br>
<h3>@Model.Email</h3>
<br>
<h3>@Model.Senha</h3>
<br>
<h3>@Model.ConfirmaSenha</h3>

