@model AppQuerido.Models.Pessoa
@{
    ViewBag.Title = "Funcionario";
}

    <h2>@Model.PessoaId</h2>
    <h2>@Model.Nome</h2>
    <h2>@Model.Sexo</h2>
    <h2>@Model.Salario</h2>
    <h2>@Model.DataNasc</h2>
